
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;

        }

        body {
            background-color: rgb(220, 220, 220);
        }

        .nav {
            background-color: rgb(255, 248, 248);
            height: 50px;
           
        }

        .nav img {
      
            margin-left: 35px;
            border-radius: 5px;
            position: relative;
        }

        .yy {
            display: flex;
            gap: 90px;
            padding-top: 20px;

        }

        .yy a {
            color: black;
        }

        .suppp {
            background-color: orange;
            border-radius: 5px;
            height: 20px;
            width: 70px;
            text-align: center;
            box-shadow: 5px 5px 10px;
        }

        .txt {
            margin-left: 650px;
            margin-top: 30px;
     
        }

        .sym {
            display: flex;
            gap: 80px;
            justify-content: space-evenly;
            margin-top: 60px;
        }

        .sym h2:hover {
            color: rgb(183, 182, 182)
        }

        .acc h2 {
            font-weight: 20;
            margin-left: -20px;
        }

        .search h2 {
            font-weight: 20;
            margin-left: -15px;
        }

        .warranty h2 {
            font-weight: 20;
            margin-left: -20px;
        }

        .guide h2 {
            font-weight: 20;
            margin-left: 5px;
        }

        .box {
            background-color: rgb(240, 202, 202);
            height: 150px;
            width: 600px;
            margin-left: 150px;
            margin-top: 40px;
            display: inline-block;
            background-image: url('https://i02.appmifile.com/377_operator_us/23/02/2023/4e1278d9957eb605676f4258d710cfa1.png?thumb=1&w=830&f=webp&q=85');
            background-size: cover;
        }

        .box p {
            color: aliceblue;
            font-size: 30px;
            font-weight: 40;
            margin-right: 50px;
        }

        .box img {
            margin-left: 500px;
            margin-top: 20px;
        }

        .box1 {
            background-color: rgb(240, 202, 202);
            height: 150px;
            width: 600px;
            margin-left: 20px;
            margin-top: 40px;
            display: inline-block;
            background-image: url('https://i02.appmifile.com/681_operator_us/23/02/2023/28d631a5cc51c2e100bf4eeac08d3f72.png?thumb=1&w=830&f=webp&q=85');
            background-size: cover;
        }

        .box1 p {
            color: aliceblue;
            font-size: 30px;
            font-weight: 20;


        }

        .box1 img {
            margin-left: 500px;
            margin-top: 20px;
        }

        .Cards {
            background-color: rgb(241, 253, 253);
            height: 200px;
            width: 1230px;
            margin-top: 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            overflow: hidden;
        }

        .Cards:hover {
            box-shadow: 20px 15px 25px grey;
        }

        .phone {
            display: flex;
            flex-direction: row-reverse;


        }

        .phone h2 {
            display: block;
            font-size: 30px;
            margin-right: 350px;
            justify-content: start;
            margin-top: 80px;

        }

        .phone h2:hover {
            color: orange;
            
            transition: 0.2s;
          
        }

        .phone h3 {
            margin-right: 300px;
            margin-top: 80px;
        }

        .phone1 {
            display: inline-block;
        }

        .phone1 p {
            margin-left: 700px;
            margin-top: 0px;
            padding-top: 20px;


        }


        .phone1 h3 {
            margin-left: 700px;
            margin-top: -150px;
            font-size: 30px;
        }

        .phone1 h3:hover {
            color: orange;
        }

        .warn {
            margin-right: 0px;
        }

        .card1 {
            margin-left: 130px;
            margin-top: 20px;
        }



        .footer {
            height: 300px;
            background-color: #151413;
            display: flex;
            margin-top: 50px;
        }

        .ft1 h3 {
            color: #f0eeee;
            margin-top: 40px;
            margin-left: 20px;
            font-weight: 20;
            font-size: 20px;
        }

        .ft1_1 {
            display: flex;
            flex-direction: column;
            margin-top: 40px;

        }

        .ft1_1 a {
            padding: 10px;
            margin-top: -10px;
            margin-left: 10px;
            color: gray;
        }

        .logos {
            color: #f0eeee;
            font-weight: 20;
            margin-top: 80px;
            margin-left: 140px;

        }

        .socio {
            padding-left: 200px;
        }

        .png {
            display: flex;
            gap: 60px;
            background-color: #f0eeee;
            height: 80px;
            align-items: center;
            border-radius: 10px;

        }
   